<h2>{{ titulo }}</h2>
<p>{{ descripcion }}</p>
<hr/>
{% if clientes %}
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Clientes</div>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <tbody>
        {% for cliente in clientes %}
          <tr>
            <td class="text-ight">{{ cliente.id }}</td>
            <td class="text-ight">{{ cliente.nombre }}</td>
            <td class="text-ight">{{ cliente.telefono }}</td>
            <td class="text-ight">{{ cliente.email }}</td>
            <td class="text-ight">{{ cliente.genero }}</td>
            <td class="text-ight">{{ cliente.cuenta }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
{{ link('Descargar PDF', 'internal:/asir/form/descargar', {'class': ['class__link']}) }}