<img src="{{imagen}}" alt="imagen de e-commerce" width="30%" height="30%"/>
<h2>{{ titulo }}</h2>
<p>{{ descripcion }}</p>
<p>En esta página podrá gestionar todo lo relativo a sus clientes.</p>
<hr/>
<ul>
  <li>{{ link('Formulario clientes', 'internal:/asir/form/formulario', {'class': ['class__link']}) }}</li>
  <li>{{ link('Editar clientes', 'internal:/asir/form/datos', {'class': ['class__link']}) }}</li>
  <li>{{ link('Listar clientes', 'internal:/asir/form/clientes', {'class': ['class__link']}) }}</li>
</ul>